################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/
/obj/
/obj/Debug/net9.0/CoreSystem2024.AssemblyInfoInputs.cache
